# Supabase Configuration
VITE_SUPABASE_URL=https://icvkoczdiacgqrupksfq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljdmtvY3pkaWFjZ3FydXBrc2ZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNDgyNjIsImV4cCI6MjA4ODYyNDI2Mn0.jTreFqFh0uXrABP_raN3L_S5qhBXryKhR0xP0ACapRM
